
/* ------ COLORS -------------------------- 

orange:     #e5b86f
            rgb()
yellow:     #eac373
            rgb()
drakgreen:  #99933
            rgb()
green:      #656A07
            rgb()

---------------------------------------- */

/* ------ FONTS ---------------------------

font-family: 'Old Standard TT', serif;
font-family: 'PT Sans', sans-serif;

---------------------------------------- */

body {
    font-family: 'Old Standard TT', serif;
    font-size: 1em;
    line-height: 2em;
    background-color: black;
    color: white;
}

p {
    font-family: 'PT Sans', sans-serif;
}

/*--------------- HEADER/NAV --------------------*/
#logo {
    height: 153px; 
    background: url('../images/logo.png') no-repeat center;
    }

nav {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #e5b86f;
    border-bottom: 1px solid #e5b86f;
    height: 30px;
    background-color: rgba(101, 106, 7, 0.4);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 20px 0 20px;
}

nav ul li a {
    color: #e5b86f;
    text-decoration: none;
    letter-spacing: -0.01em;
}
span {
    color: #e5b86f;
}

nav ul li a:hover {
    color: lightgoldenrodyellow;
    text-decoration: none;
}

/*--------------- END OF HEADER/NAV --------------------*/

/*--------------- SECTION --------------------*/

.vintage-top-border {
    margin: 40px 0 30px 0;
    height: 86px;
    background: url('../images/vintage-border.svg') no-repeat center;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.vintage-bottom-border {
    margin: 40px 0 30px 0;
    height: 86px;
    background: url('../images/vintage-border.svg') no-repeat center;
}

h1 {
    text-align: center;
    color: #eac373
}

.row {
    justify-content: center;
    align-content: center;
}
.policies-square {
    line-height: 1.5em;
    padding: 20px;
    background-color: rgba(102,102,0,0.6);
    height: auto;
    margin: 10px 10px 20px 10px;
    border-radius: 10px;
}

.policies-square h2 {
    font-size: 1.5em;
    border-bottom: 2px solid black;
}

.policies-square p {
    font-size: 1em;
}
/*--------------- END OF SECTION --------------------*/


/* MEDIA QUERIES */
@media screen and (max-width:959px) {


@media screen and (max-width:767px) {

nav ul li					{font-size:0.8em;margin:0 5px;}
    
.contact p {
    text-align: center; 
    font-size: 1em;
}

    .vintage-top-border {
    margin: 0;
    }

    .vintage-bottom-border {
    margin: 0;
   }
    
    .contact h2 {
        margin: 20px auto;
    }

    
   
@media screen and (max-width:459px) {

    nav {
        display: none;
    }
    
    input[value="SEND"] {
        float:none;
        margin: 15px auto 0 auto;
    }
    
    footer {
        font-size: 0.8em;
    }    

    .contact p {
    text-align: center; 
    font-size: 1em;
}
    
    .contact h2 {
        margin: 20px auto;
    }

    .vintage-top-border {
    margin: 0;
    }

    .vintage-bottom-border {
    margin: 0;
   }

    form {
    background-image: none;
}
