header, nav{
    background-color:black;
}
    
header section div img {
    width: 100%;
}

nav {
    padding-bottom: 10px;
}
nav hr, footer hr {
    background-color: gold;
    color: gold;
    height: 1px;
    margin: 0px;
}

footer hr{
    margin-bottom: 10px;
}

.nav {
    background-color: #4e4e25;
    text-align: center;
    padding: 0px;
}

.nav > li a { 
    font-family: 'Old Standard TT', serif;
    color: gold;
}

.nav > li  { 
    padding: 0px
}


.sub-menu {
    display:none;
    list-style: none;
    padding: 3px;
}


.sub-menu > li a {
    font-size:.75em;
}

.slicknav_menu {
	display:none;
}

footer {
    background-color: black;
    color:white;
    text-align: center;
}

.footerbox {
    padding: 10px;
}

.tickets {
    margin: 20px auto;
    border: 0px;
    padding: 10px;
    background-color: #4e4e25;
    color:white;
    border-radius: 10px;
}

.gifts {
    color:gold;
}

.contact-us a{
    color:white;
    padding-left: 30px;
    text-align: left;
    display: block;
}
.phone {
    background: url(../images/phone.png) no-repeat left;
}
.email {
    background: url(../images/email.png) no-repeat left;
}
.location {
    background: url(../images/location.png) no-repeat left;
}

@media screen and (max-width: 62em) and (min-width: 36em)  {
    .tripadvisor {
        display:none;
    } 
    .sub-menu > li a {
        font-size:.6em;
    }    
    .nav > li > a {
        font-size:.85em;
    }          
}

@media screen and (max-width: 36em) { 
	.js #menu {
		display:none;
	}   
	
	.js .slicknav_menu {
		display:block;  
	}
    
    .js  hr {
        display:none;
    }

    .contact-us a {
        display:inline;
        padding: 15px;
    }
    
    .footerinfo, .about-us, .tripadvisor {
        display:none;
    }
}


@media screen and (min-width: 36em) { 
    .nav {
        height: 30px;
    }
    .sub-menu {
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        text-align: left;
        background-color: #4e4e25;
    }
    .prices {
        min-width: 125px;
    }
    .dropdown:hover .sub-menu {
        display:block;
    }
}