/* ------ COLORS -------------------------- 

orange:     #e5b86f
            rgb()
yellow:     #eac373
            rgb()
drakgreen:  #99933
            rgb()
green:      #656A07
            rgb()

---------------------------------------- */

/* ------ FONTS ---------------------------

font-family: 'Old Standard TT', serif;
font-family: 'PT Sans', sans-serif;

---------------------------------------- */

body{
    
}

header{
    
}

nav{
    
}

section{
    
}

footer{
    
}


/* ------ logo ------------------------ */



/* ------ headings -------------------- */



/* ------ navegation ------------------ */



/* ------ links ----------------------- */



/* ------ forms ----------------------- */





